.App {
  text-align: center;
}

.background-img {
  height: 800px;
  background-image: url("./images/Truist-Park.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*Css for NAVBAR*/
.navbar {
  justify-content: space-evenly;
  background-color: darkcyan;
}

.nav-links {
  /* color: white; */
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.links {
  color: white;
}

.stadium-icon {
  width: 40px;
  height: auto;
}
/*End Css for NAVBAR*/


.stadium-content {
  display: flex;
}

.single-stadium {
  display: flex;
}