* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

a:hover {
  border-bottom: 1px solid black;
}

a:active {
  position: relative;
  top: 1px;
  border-bottom: none;
}

.background-sizing {
  width: 100vw;
  height: 100vh;
}

.background-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: auto; */
  background-image: url("./images/Truist-Park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.log-reg-header {
  font-size: 50px;
  font-weight: bold;
  opacity: .7;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

/*Dashboard CSS*/

/* .dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.allStadiums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.stadium-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  padding: 1rem;
  width: calc((80% - 1rem) / 3);
  box-sizing: border-box;
  text-align: center;
  background-color: whitesmoke;
  box-shadow: 0px 0px 10px rgb(66, 78, 98, 1);
  transition: box-shadow 300ms ease-in-out;
  cursor: pointer;
}

.stadium-card a{
  font-size: 1.9rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var (--tw-text-opacity));
    color: rgba(36, 62, 99, var(--tw-text-opacity));
}

.stadium-card:hover {
  box-shadow: 0px 0px 20px rgb(66, 78, 98, 1);
}

.stadium-img {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
  border-radius: 4px;
}

.stadium-link {
  font-size: 1.8rem;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-family: Inter, system-ui;
    --tw-text-opacity: 1;
    color: rgba(36, 62, 99, var(--tw-text-opacity));
}

/* .dashboard {
  background-color: #3f3c45;
  border: 2px solid red;
}

.stadium-card {
  background-color: black;
  border: 2px solid yellow;
  padding: 50px;
}

.stadium-card img {
  border: 2px solid pink;
  width: 50%;
}

.allStadiums {
  border: 10px solid blue;
} */

/* img {
  width: 50%;
  height: 50%;
  display: inline-block;
}



.stadium-img {
  width: 23%;
  height: 300;
  object-fit: cover;
  border-radius: 5px;
  border: 5px solid black;
  box-sizing: border-box;
  flex: 25%;
} */

/*End Dashboard CSS*/


/*Css for NAVBAR*/
.navbarr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #424E62;
  /* background-color: rgb(54, 121, 209); */
  padding: 20px 12px;
  box-shadow: rgba(23, 48, 73, 0.12) 0px 4px 24px
}

.title {
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 25%;
  margin-right: 6%;
}

.links {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.stadium-icon {
  width: 60px;
  margin-left: 8%;
  filter: invert(1);
}

.logout-btn{
  border-radius: 8px;
  border: 1px solid white;
  width: 120px;
  height: 40px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 150ms ease-in-out;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: white;
  color: #424E62;
  border: 1px solid white;
}
/*End Css for NAVBAR*/


.stadium-content {
  display: flex;
}

